body{
    color: #fff;
}
.choice-container{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 0.8rem;
    width: 100%;
    background-color: rgb(18, 93, 255);
    font-size: 2.5rem;
    min-width: 80rem;
    border-radius: 4px;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.1rem 0 0.8rem rgba(6, 103, 247, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}
.choice-prefix{
    padding: 2rem 2.5rem;
    color: #fff;
}
.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}


/*Heads up display*/

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    font-size: 2.8rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull{
    height: 100%;
    width: 0;
    background: rgb(11,223,36);
    
    
}

#question{
    margin: 4rem 0;
    font-size: 2.5rem;
}

@media screen and (max-width:1159px){
    #choice-wrapper{
        padding:0 2rem;
    }
    #progressBar{
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .choice-container{
        min-width: 40rem;
        box-sizing: border-box;
    }
    #question{
        margin: 4rem 2rem;
        font-size: 2.2rem;
    }
    .hud-prefix{
        font-size: 2rem;
        margin: 0 5rem;
    }
}


@media screen and (max-width:768px){
    .choice-container{
        min-width: 40rem;
        box-sizing: border-box;
    }
    #question{
        margin: 4rem 2rem;
        font-size: 1.8rem;
    }
    .hud-prefix{
        font-size: 2rem;
        margin: 0 5rem;
    }
    #progressBar{
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #choice-wrapper{
        padding:0 2rem;
    }
}

@media screen and (max-width:420px){
    .choice-container{
        min-width: 12rem;
        box-sizing: border-box;
    }
    #question{
        margin: 1rem 2rem;
        font-size: 1.5rem;
    }
    .hud-prefix{
        font-size: 1.5rem;
        margin: 0 5rem;
    }
    #progressBar{
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    #choice-wrapper{
        padding:0 2rem;
    }
}

